
                <aside>
                    <h3>About</h3>
                    <p><em>Pro Pebble Development</em> is an attempt at chronicling my ongoing adventures with the Pebble SDK 3.0 and related technologies.  My goal is to apply &quot;professional&quot; software development practices to what started out as &quot;hobby&quot; code, and share techniques, resources, and challenges along the way - hopefully generating a useful corpus that may accelerate others' ramping up on this exciting platform.</p>
                </aside>
